<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{doc_title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>You seem to be stuck, what can I do to help?</p>
</body>
</html>